#game{
  background-color: #000000;
  position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; margin: auto;
  cursor: url(./Assets/Icons/cursor-Silaera-1.png) 32 0,auto;
 
}
body {
   background: linear-gradient(90deg,rgba(0, 255, 25, 1) 0%, rgba(0, 255, 179, 1) 17%, rgba(0, 255, 247, 1) 36%, rgba(0, 115, 255, 1) 60%, rgba(111, 0, 255, 1) 80%, rgba(221, 0, 255, 1) 100%);
  height: 100%;
  cursor: url(./Assets/Icons/cursor-exterior.png) 16 16,auto;
}
html{
  height:100%;
}
